
@{
    ViewBag.Title = "Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 class="page-header">Document</h1>
    <p class="lead">Learn the every detail of RoslynMapper library.</p>
    <p class="muted">document for v0.1.7-alpha</p>

    <ul class="list-unstyled">
        <li><a href="#name-convention">Name convention</a></li>
    </ul>

    <div id="name-convention">
        <h3>Name convention</h3>
    </div>

    <div id="name-convention">
        <h3>Setup Mappers in program startup</h3>
    </div>
</div>

