@{
    ViewBag.Title = "Get started";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 class="page-header">Getting started</h1>
    <p class="lead">RoslynMapper provides an easy-to-use API for you to quickly get started.</p>
    <p class="muted">Currently v0.1.7-alpha is a preview version only.</p>

    <h3>Install</h3>
    <p>To install RoslynMapper, run the following command in the <a href="http://docs.nuget.org/docs/start-here/using-the-package-manager-console">Package Manager Console</a></p>

    
    <pre class="prettyprint">Install-Package RoslynMapper -Pre</pre>
    
    <p>Then start to use RoslynMapper in your project.</p>
    <h3>Hello world</h3>
    <p>Define the source type and destination type.</p>
<pre class="prettyprint">
public class A
{
    public string Name { get; set; }
}
public class B
{
    public string Name;
}
</pre>
    <p>Set up the mapper(s) and build it in your program startup.</p>
<pre class="prettyprint">
var mapper = RoslynMapper.MapEngine.DefaultInstance;
mapper.SetMapper&lt;A, B&gt;();
mapper.Build();
</pre>
    <p>Map the object from A to B.</p>
<pre class="prettyprint">
A a = new A() { Name = &quot;Hello World&quot; };
var b = mapper.Map&lt;a, b&gt;(a);
Console.WriteLine(b.Name);
</pre>
    
    <p>For more inforamtion, read the <a href="@Url.Action("Index","Document")">document</a>.</p>
</div>

