@using RoslynMapper.Benchmark;
@using System.Web.Mvc.Ajax;
@{
    ViewBag.Title = "Benchmark";
}

<h1 class="page-header">Benchmark</h1>
<p class="lead">We designed some benchmark tests for the most popular C# object mappers. </p>
<p class="muted">RoslynMapper will have a big disadvantage in initialization. The compiling normall takes more than 2 seconds. This is just one time cost.</p>
<p class="muted">The benchmark test results are related to the test sample designs. The purpose of this benchmark is not trying to prove one mapper is better than the other. It is just a evaluation tool for RoslyMapper.</p>
<p class="muted">Please click one of the following buttons to start a test.</p>

<div class="btn-group">
    @foreach (var test in (BenchmarkTest[])Enum.GetValues(typeof(BenchmarkTest)))
    {
        @Ajax.ActionLink(test.ToString(), "Test", new { test = test.ToString() }, new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "test-result", LoadingElementId = "loading" }, new { @class = "btn btn-primary" })
    }   
</div>

<p></p>

<div id="loading" style="display:none;" class="alert alert-warning">
    <p>Benchmark test just started. It will take a while,  please wait...</p>
</div>

<div id="test-result">

</div>
<p></p>
<p>For more information, view the benchmark <a href="https://github.com/liuhongbo/RoslynMapper">source code</a></p>
